.search-container {
  min-height: 96vh;
  height: auto;
}

.search {
  width: 92%;
  margin: 2% auto;
  align-items: center;

  .input-style {
    width: 70%;
    height: 60px;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Lora', serif;
    box-shadow: 1px 0 3px 3px 1px $green inset;
  }

  input[type=submit] {
    font-family: 'Bree serif', serif;
    display: inline-block;
    width: 28%;
    border: none;
    // box-shadow: 0 0 2px $boardgameblue;

    &:focus {
      outline-color: $lightgreen;
    }
  }
}

.pagination {
  width: 90%;
  margin: 0 4%;
  font-size: 26px;
  text-align: right;

  .button {
    border: none;
    font-family: 'Bree serif', serif;

  }

  .small {
    font-size: 16px;
  }

  .current {
    font-size: 11px;
  }

  #current {
    font-family: 'Lora', serif;
  }

  // .pageInfo {
  //   margin: 2% 4%;
  // }
}


.search-results-container {
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;

  ul {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

.search-result-item {
  display: grid;
  grid-template-columns: 6fr 8px 1fr;
  width: 90%;
  margin: 0 auto;
  place-items: center;

  &:hover {
    background-image: linear-gradient(to left, darken($lightgreen, 5%), darken($green, 5%) 99%);
  }

  // flex-direction: row;
  // justify-content: space-between;

  .title-container {
    display: grid;
    grid-template-columns: 4fr 10px .6fr 10px 1fr;
    place-content: center;
    width: 100%;
    padding: 6px;

    .property-text {
      font-size: .7rem;
    }

    .title {
      overflow: auto;
    }

    .id {
      width: 100%;
      place-items: right;


    }
  }


  .forms {
    grid-column: 1/4;
    margin-left: -100%;
    background-color: $backgroundWhite;
    padding: 24%;
  }

  .arrow-container {
    place-content: right;
    width: 80%;
    display: flex;
    justify-content: space-between;

    // place-content: justify;

    .arrow-item {
      // place-items: right end;
      padding: 2%;
    }
  }

}