.header-style {
  display: grid;
  grid-template-columns: 1fr 3fr 150px 150px;
  grid-template-areas: "logo space user logout";
  width: 100%;
  min-height: 12vh;
  place-items: center;
  grid-gap: 1%;
  font-family: 'Bree Serif', serif;
  background-color: $boardgameblue;
  grid-area: nav;
  color: $boardgameorange;

  .logo {
    grid-area: logo;
    font-weight: 600;
    font-size: 1.4em;

  }

  b {
    grid-area: space;
  }

  .logout {
    grid-area: logout;
    text-decoration: none;
  }

  .user {
    grid-area: user;
  }

  a {
    margin: .26rem;
  }

  span {
    font-weight: 400;
    color: white;

    &:hover {
      color: $boardgameorange;
    }
  }
}

.user-nav {
  grid-area: logout;
  position: relative;
  place-items: center;
  width: 100%;
  margin-top: -11%;

  .logoutdiv {
    position: absolute;
    display: flex;
    flex-flow: column;
    background-color: $boardgameblue;
    justify-content: justify;
    width: 60%;

    span {
      padding: 8% 14% 4% 2%;
    }

    .border-nav {
      &:hover {
        border-left: 4px solid $green;
        padding-left: 14%
      }
    }
  }
}