ul {
  margin: 1%;

  li {
    list-style: none;
    padding: 1%;
    text-align: justify;
    @extend .text;
    background-color: $lightgreen;

    &:nth-child(3n) {
      background-color: $green;
    }
  }


}

.arrow {
  height: 1px;
  border: solid $boardgameorange;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
}