$boardgameblue: rgb(63, 58, 96);
$boardgameorange: rgb(255, 81, 0);
$backgroundWhite: darken(rgb(250, 252, 251), 1%);
$green: rgb(146, 224, 94);
$lightgreen: rgb(185, 224, 93);
$lightgreenClear: rgba(185, 224, 93, 70%);
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text|Lora:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');