//.game-info-container

@keyframes slide-to-right {

  from {
    transform: translateX(-550px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }

}

@keyframes slide-to-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transfrom: translateX(-550px);
    opacity: 0;
  }
}